<!DOCTYPE html>
<html lang="en-US">

	<head>
		{% include header.html %}
		<style>
			.category {
				background-color: #E1ECF4;
				border-radius: 3px;
				padding: 0.4em 0.5em;
				margin: 2px 2px 2px 0;
				color: #39739d;
				font-size: 12px;
				font-family: "SFUIText", "SF UI Text", sans-serif;
			}

			#content {
				padding: 25px;
			}

			#top {
				text-align: center;
				background-color: #bcccec;
				padding: 15px;
			}

			.title {
				margin-block-start: 0px;
				margin-block-end: 10px;
			}

			.title>a {
				text-decoration: none;
				color: black;
			}
		</style>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" />
	</head>

	<body>
		<div id="top">
			<h1 class="bbb title">
				<a href={{permalink}}>
					{{ include.title }}
				</a>
			</h1>

			{% include categories.liquid categories=page.categories %}
		</div>
		{% if include.show_related %}
			<div id="content">
				{% for post in site.posts limit:10 %}
					<div class="page">
						<h2 class="bbb title">
							<a href={{post.url}}>
								{{ post.title }}
							</a>
						</h2>

						{% include categories.liquid categories=post.categories %}

						<p>{{ post.excerpt | strip_html }}</p>
					</div>
					<br/>
				{% endfor %}
			</div>
		{% else %}
			<div id="content" class="markdown-body">
				{{ content }}
			</div>
		{% endif %}
	</body>

</html>